* {
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

h1 {
    margin-block: 30px;
    font-size: 18px;
}

#output {
    display: grid;
    grid-template-columns: auto;
    row-gap: 8px;
    width: 100%;
    max-width: 800px;
    height: auto;
    min-height: 400px;
    padding: 20px;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.item {
    width: 100%;
}